[color]
  ui = true
[format]
  pretty = full
[user]
	name = Christos Nasikas
	email = xristosnasikas@gmail.com
	signingkey = FB0B3142AD851154
[alias]
  lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	discard = checkout --
[core]
	editor = vim
	hooksPath = .git-config/hooks
[credential]
	helper = cache --timeout=3600
[diff]
	renames = true
[push]
	default = nothing
[status]
	submoduleSummary = false
[commit]
	gpgsign = true
